.sign-up-form{
    border: solid black 1px;
    margin: 15px
}

.header{
    text-align: center;
}

.your-info{
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 100%;
    gap: 15%;
}

.input{
    padding: 15px;
    border-radius: 15px;
    font-size: 15px;
}